body{
    height: 100vh;
}

.bg{
    color: white;
    background-color: black;
    height: 100%;
}
.canvas-holder{
    height: 80%;
}
.footer{
    height: 20%;
}
.demoImg{
    height: 1000px; 
    margin-top: 3%;
    /* margin-left: 10%; */
    background: white;
    color:black;
    width: 562.5px;
}
.marker{
    height: 2px;
}