body{
    height: 100vh;
}

.bg{
    color: white;
    background-color: black;
    height: 100%;
}
.canvas-holder{
    height: 80%;
}
.footer{
    height: 20%;
}
.demoImg{
    /* height: 50%; */
    margin-top: 3%;
    /* margin-left: 10%; */
}