body{
    height: 100vh;
    overflow : hidden;
    background-color: black;
}

.bg{
    color: white;
    background-color: black;
    height: 100%;
}
.canvas-holder{
    height: 80%;
}
.footer{
    height: 20%;
}
.demoImg{
    font-size : 20px;
    padding: 40px;
    margin-top: 3%;
    text-align: justify;

    background: white;
    color:black;

    overflow: scroll;
}


.marker{
    height: 2px;
}
.modified-iframe {
    font-size: 90px!important;
}