body{
    height: 100vh;
    overflow : hidden;
    background-color: black;
}

.bg{
    color: white;
    background-color: black;
    height: 100%;
}
.canvas-holder{
    height: 80%;
}
.footer{
    height: 20%;
}
.demoImg{
    /* font-size : 34.69708 */
    /*  */
    /* (905.512  / 521.95275591) * 20 */
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 113%;
    padding: 40px;
    margin-top: 0%;
    white-space: pre-wrap;
    background: white;
    color:black;

    /* overflow: scroll; */
}

.counter{
    color: white;
    font-size: 30px;
}
.marker{
    height: 2px;
}
.modified-iframe {
    font-size: 90px!important;
}